* text eol=lf

*.py  text eol=lf
*.lua text eol=lf
*.sh  text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.ini text eol=lf
*.cfg text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf

*.ui  text eol=lf
*.qss text eol=lf
*.qml text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.exe binary
*.dll binary
*.so binary
*.db binary
*.sqlite binary
*.cdb binary
*.ttf binary
*.otf binary